! Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
urxvt*cursorBlink: true
URxvt*buffered: false
Urxvt.letterSpace: -7

! URxvt*iconFile: /usr/share/icons/elFaenza/apps/48/Terminal.png

URxvt.geometry: 98x20

URxvt.scrollBar: false

URxvt.font: xft:tewi:regular:pixelsize=9
URxvt.boldFont: xft:tewi:regular:pixelsize=9

*.foreground:   #eeeeee
*.background:   #151721
*.cursorColor:  #eeeeee

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #916469
*.color9:       #deabb0

! green
*.color2:       #2c4545
*.color10:      #699292

! yellow
*.color3:       #dc8e5a
*.color11:      #fcd0b3

! blue
*.color4:       #3d4d84
*.color12:      #8295d7

! magenta
*.color5:       #423d6c
*.color13:      #7f79af

! cyan
*.color6:       #dc8e5a
*.color14:      #fcd0b3

! white
*.color7:       #dddddd
*.color15:      #eeeeee

! Click URLs
URxvt.perl-ext-common:  default,matcher
URxvt.url-launcher:      /usr/bin/google-chrome-stable
URxvt.matcher.button:   1

URxvt.keysym.Shift-Control-V: perl:clipboard:paste
urxvt.iso14755:false
URxvt.perl-ext-common: default,clipboard
