Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
urxvt*cursorBlink: true

! URxvt*iconFile: /usr/share/icons/elFaenza/apps/48/Terminal.png

URxvt.geometry: 94x22

URxvt.scrollBar: false

URxvt.font: xft:Tewi:regular:size=11
URxvt.boldFont: xft:Tewi:regular:size=11

*background:#1a1a1a
*foreground:#fafafa
*highlightColor:#444444

! Black
*color0:#666666
*color8:#eeeeee

! White
*color7:#cccccc
*color15:#fafafa

! Red
*color1:#f04444
*color9:#f05858

! Green
*color2:#40c4a9
*color10:#74d9ba

! Yellow
*color3:#F4E477
*color11:#FBEFA1

! Blue
*color4:#418FC0
*color12:#6badd7

! Purple
*color5:#939ddc
*color13:#b4badc

! Cyan
*color6:#F36B6B
*color14:#FF897D

! Click URLs
URxvt.perl-ext-common:  default,matcher
URxvt.url-launcher:      /usr/bin/firefox
URxvt.matcher.button:   1

urxvt.iso14755:false
