*{
	background: #eee !important;
	color: #666 !important;
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
	font-family: "Open Sans", Sans !important;
	text-shadow: none !important;
	font-style: normal !important;
	font-weight: normal !important;
}

html{
	overflow-x: hidden !important;
}

.field{
	background: #e0e0e0 !important;
}

a,
.quotelink{ /* links */
	color: #8AA3AB !important;
	transition: 0.5s ease all !important;
}
a:hover{
	color: #8AA3AB!important;
	opacity: 0.5 !important;
}

.quote{ /* greentext */
	color: #93AB8A !important;
}

.prettyprint *,
.prettyprinted *{ /* code */
	font-family: "Ubuntu Mono", Mono !important;
	font-size: 8pt !important;
}

.boardTitle,
.globalMessage,
.qr-link-container,
#blotter,
.extButton,
#togglePostFormLink,
.desktop input,
.name,
.watch-thread-link,
.page-num,
.dateTime,
.fa-minus-square,
.fa-minus-square-o,
.summary{ /* Hidden Items */
	display: none !important;
}

.op .fileText{/* Adjust file information margins so it matches
			the thumbnail */
	padding-left: 20px !important;
}

.fileThumb img,
#hzImg{ /* thumbnails and hoverzoom */
	box-shadow: 0 0 10px #666 !important;
}

.navLinks{ /* Catalog etc buttons at the top and bottom */ 
	opacity: 0.2 !important;
	transition: 0.5s ease all !important;
}
.navLinks:hover,
.navLinks:active{
	opacity: 1 !important;
}

.reply,
.reply *,
.post{
	background: #fff !important;
}

.reply{
	border-left: 3px solid #8AA3AB !important;
	padding: 0 !important;
	margin: 5px !important;	
	transition: 0.3s ease all !important;
}

.replyContainer{
	width: 100% !important;
	display: inline-block !important;
}

.op,
.op:hover,
.opContainer,
.opContainer:hover{ /* Fix OP bg problems */
	background: transparent !important;
	margin: 0 !important;
	margin-left: -5px !important; /* post border creates weird offset */
}

.op img{ /* fix some spooky spacing */
	margin-bottom: 5px !important;
}

.dialog,
.replyContainer,
.postContainer{/* Hovered post bg / container */
	background: transparent !important;
}

#menu .dialog .active{
	background: #fff !important;
	box-shadow: 0 0 10px #666 !important;
}

#header-bar{
	position: fixed !important;
	background: #fff !important;
	box-shadow: 0 0 10px #666 !important;
}
#header-bar *{
	background: transparent !important;
}

#fourchanx-settings *,
.dialog{
	background: #fff !important;
}
#fourchanx-settings{
	box-shadow: 0 0 10px #666 !important;
}
